.tarjeta-list {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid grey;
    margin: 1em 1em 2em 1em;
    padding: 1em 1em 1em 1em;
    max-width: 15rem;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em dimgray;
    justify-content: space-between;
}

.top-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.bottom-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;

}

.img {
    padding: 0.5em, 0.5em, 0.5em, 0.5em;
    width: 15rem;
}

.texto {
    align-self: center;
}

.precio {
    align-self: center;
    width: 15rem;
}

.ver-detalle {
    align-self: center;
    justify-content: center;
    min-width: 12rem;
    min-height: 2rem;
    margin-top: 1rem;
}