.nav-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    /* El fondo blanco es para que no queden los gráficos mal si hay un wallpaper*/
    background-color: white;
}

.nav-a {
    width: 12rem;
}

.app-logo {
    width: 10rem;
    height: 5rem;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1.5rem;
}