.counter-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
}

.btn-change {
    min-width: 2rem;
    min-height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.agregar-carrito {
    min-width: 12rem;
    min-height: 2rem;
    margin-top: 1rem;
}